<template>
  <modal name="receiver-create-modal" :width="800" height="auto" :adaptive="true">
    <div class="box">
      <div class="row">
        <div class="left-side col-md-6 col-lg-6 col-sm-12" ref="leftSide">
          <h2>Let's add new receiver!</h2>
          <form @submit.prevent="storeReceiver">
            <div>
              <div class="input-item">
                <input placeholder="Full name" type="text" :class="{'validation-error': $v.payload.name.$error}" v-model.trim="$v.payload.name.$model">
                <p class="validation-error" v-if="$v.payload.name.$error">Name is required</p>
              </div>
              <div class="input-item">
                <input placeholder="Email" type="email" :class="{'validation-error': $v.payload.email.$error}" v-model.trim="$v.payload.email.$model">
                <p class="validation-error" v-if="$v.payload.email.$error">Email is required</p>
              </div>
              <div class="input-item">
                <input placeholder="Address" type="text" :class="{'validation-error': $v.payload.address.$error}" v-model.trim="$v.payload.address.$model">
                <p class="validation-error" v-if="$v.payload.address.$error">Address is required</p>
              </div>
              <div class="input-item">
                <VueTelInput :class="{'validation-error': $v.payload.phone_number.$error}"
                             v-model.trim="$v.payload.phone_number.$model">

                </VueTelInput>
                <p class="validation-error" v-if="$v.payload.phone_number.$error">Phone is required</p>
                <p class="validation-error" v-if="server_error !== ''">{{ server_error }}</p>
              </div>
              <div class="input-item">
                <select v-model="$v.payload.city_id.$model">
                  <option value="">Select city</option>
                  <option v-for="city in cities" v-bind:key="city.id" :value="city.id">{{ city.name }}</option>
                </select>
              </div>
              <div>
                <button type="submit">{{ btnText }}</button>
              </div>
            </div>
          </form>
        </div>
        <div class="right-side col-6 d-none d-sm-block"></div>
      </div>
    </div>
  </modal>
</template>

<script>
import { required } from 'vuelidate/lib/validators'
import $http from '@/axios.settings.js'
import { VueTelInput } from 'vue-tel-input'

export default {
  name: 'ReceiverCreateComponent',
  props: [
    'cities'
  ],
  data () {
    return {
      payload: {
        name: '',
        email: '',
        address: '',
        phone_number: '',
        city_id: ''
      },
      btnText: 'Save',
      server_error: ''
    }
  },
  components: {
    VueTelInput
  },
  validations: {
    payload: {
      name: {
        required
      },
      address: {
        required
      },
      phone_number: {
        required
      },
      email: {
        required
      },
      city_id: {
        required
      }
    }
  },
  methods: {
    async storeReceiver () {
      console.log(this.$v.payload)
      this.$v.$reset()
      this.$v.payload.$touch()
      if (!this.$v.payload.$anyError) {
        try {
          const response = await $http.post('/receiver', this.payload)
          if (response) {
            this.$router.push('/create')
            document.location.reload()
          }
        } catch (error) {
          this.server_error = error.response.data.msg
        }
      }
    }
  }
}
</script>

<style src="./create.style.scss" lang="scss" />
