<template>
  <modal name="login-modal" :width="600" height="auto" :adaptive="true">
    <div class="box">
      <div class="row">
        <div class="left-side col-md-6 col-lg-6 col-sm-12">
          <h2>Sign in</h2>
          <form @submit.prevent="login">
            <div>
              <div class="input-item">
                <input placeholder="Email" type="email" :class="{'validation-error': $v.payload.email.$error}" v-model.trim="$v.payload.email.$model">
                <p class="validation-error" v-if="$v.payload.email.$error">Email is required</p>
              </div>
              <div class="input-item">
                <input placeholder="Password" type="password" :class="{'validation-error': $v.payload.password.$error}" v-model.trim="$v.payload.password.$model">
                <p class="validation-error" v-if="$v.payload.password.$error">Password is required</p>
                <p class="validation-error" v-if="server_error !== ''">{{ server_error }}</p>
              </div>
              <div class="input-item">
                <input type="checkbox" v-model="payload.remember_me">Remember me
              </div>
              <div>
                <button type="submit">{{ signInBtnText }}</button>
              </div>
            </div>
          </form>
        </div>
        <div class="right-side col-6 d-none d-sm-block"></div>
      </div>
    </div>
  </modal>
</template>

<script>
import { required, email } from 'vuelidate/lib/validators'

export default {
  name: 'LoginComponent',
  data () {
    return {
      payload: {
        email: 'chingizsdc@gmail.com',
        password: 'qwe123qwe',
        remember_me: false
      },
      signInBtnText: 'Login',
      server_error: ''
    }
  },
  validations: {
    payload: {
      email: {
        required,
        email
      },
      password: {
        required
      }
    }
  },
  methods: {
    async login () {
      this.$v.payload.$touch()
      if (this.$v.payload.$anyError) return
      try {
        const response = await this.$store.dispatch('login', this.payload)
        if (response.success === true) {
          document.location.reload()
        }
      } catch (error) {
        if (error.response.status === 401) {
          console.log(error.response.data.msg)
          this.server_error = error.response.data.msg
        }
        console.log(error.response.status)
      }
    }
  }
}
</script>

<style src="./index.style.scss" lang="scss" scoped/>
