.box {
  width: 100%;
  button {
    outline: none !important;
  }
  .left-side {
    padding: 25px 45px;
    h2 {
      margin-bottom: 30px;
    }
    form {
      .input-item {
        float: left;
        input {
          margin: 10px 0;
          outline: none;
          border: none;
          border-bottom: 1px solid #bfbfbf;
          &[type='checkbox'] {
            margin: 0.6rem 0.5rem;
            &:checked {
              background: #42b983;
            }
          }
          &.validation-error {
            border-bottom: 1px solid #ff5050;
          }
        }
        select {
          margin: 10px 0;
          outline: none;
          border: none;
          border-bottom: 1px solid #bfbfbf;
          color: #717171;
        }
        p.validation-error {
          font-size: 14px;
          text-align: left;
          color: #ff5050;
        }
        .vue-tel-input {
          border: none;
          border-radius: 0;
        }
      }
      button {
        &[type="submit"] {
          float: left;
          width: 100%;
          margin-top: 30px;
          font-weight: normal;
          font-size: 14px;
          background: none;
          border: 1px solid #42b983;
          padding: 5px 30px;
          color: #42b983;
          transition: 0.1s ease-in-out;
          &:hover{
            background: #42b983;
            color: white;
          }
        }
      }
    }
  }
  .right-side {
    background: url('~@/assets/img/courier.png');
    background-size: cover;
    width: 100%;
    min-height: 100%;
  }
}

