<template>
  <div class="container">
    <div v-show="isAuth">
      <router-link id="addOrderBtn" to="/create">Add new order</router-link>
      <grid :autoWidth="autoWidth"
            :cols="cols"
            :pagination="pagination"
            :rows="rows"
            :search="search">
      </grid>
    </div>
    <div v-show="!isAuth">
      <h1>Hello!</h1>
      <h2>Sign in please</h2>
    </div>
  </div>
</template>

<script>
import Grid from 'gridjs-vue'
import $http from '@/axios.settings.js'

export default {
  name: 'orders-view',
  components: {
    Grid
  },
  data () {
    return {
      orders: {},
      cols: ['Invoice Number', 'Delivery Type', 'Places', 'Weight', 'From', 'To'],
      rows: [],
      autoWidth: false,
      pagination: true,
      width: '100%',
      search: true,
      isAuth: this.$store.getters.isAuth
    }
  },
  methods: {
    async getOrders () {
      if (!this.isAuth) return
      try {
        const response = await $http.get('/order')
        this.orders = response.data.data
        this.ordersDataToTable()
      } catch (error) {
        return error
      }
    },
    ordersDataToTable () {
      for (let counter = 0; counter <= this.orders.length; counter++) {
        const order = this.orders[counter]
        order.delivery_type_name = order.delivery_type === 1 ? 'Standard' : 'Express'
        order.invoice_number = !order.invoice_number || 0 === order.invoice_number.length ? 'Empty' : order.invoice_number
        const orderInfo = [
          order.invoice_number,
          order.delivery_type_name,
          order.places,
          order.weight,
          order.from_address,
          order.to_address
        ]

        this.rows.push(orderInfo)
      }
    }
  },
  mounted () {
    this.getOrders()
    this.ordersDataToTable()
  }
}
</script>

<style scoped lang="scss">
#addOrderBtn {
  float: left;
  width: 100%;
  font-weight: bold;
  font-size: 14px;
  background: #42b983;
  border: 1px solid #42b983;
  padding: 5px 30px;
  color: white;
  transition: 0.1s ease-in-out;
  outline: none;
  &:hover {
    text-decoration: none;
  }
}
</style>
