.order-create {
  min-width: 100%;
  &__window {
    padding: 20px 40px;
    width: 100%;
    margin: 20px 0;
    -webkit-box-shadow: 0 0 20px #dadada;
    -moz-box-shadow: 0 0 20px #dadada;
    box-shadow: 0 0 20px #d0d0d0;
    &-text {
      margin-bottom: 15px;
      h2 {
        font-weight: bold;
        text-align: left;
      }
      h4 {
        font-weight: bold;
        text-align: left;
        color: #cdcdcd;
      }
      button {
        outline: none;
        background: #42b983;
        font-weight: bold;
        border: none;
        padding: 10px 20px;
        color: white;
      }
    }
    &-scrollableList {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      max-width: 100%;
      height: 100%;
      padding: 5px 0;
      overflow: hidden;
      overflow-x: scroll;
      .template {
        flex-shrink: 0;
        flex-basis: 300px;
        margin: 0 10px;
        background: none;
        -webkit-box-shadow: 0 0 10px #dadada;
        -moz-box-shadow: 0 0 10px #dadada;
        box-shadow: 0 0 10px #dadada;
        padding: 20px 30px;
        p {
          margin-top: 5px;
          margin-bottom: 0;
          font-weight: bold;
        }
        button.close-btn {
          float: right;
          background: none;
          border: none;
          outline: none;
          font-size: 20px;
          font-weight: bold;
        }
        .template-info {
          text-align: left;
          margin-bottom: 30px;
          .template-icon {
            margin-right: 3px;
          }
        }
        button.select-btn {
          outline: none;
          background: #42b983;
          font-weight: bold;
          border: none;
          padding: 3px 15px;
          color: white;
          float: right;
        }
      }
    }
  }
}

.form-row {
  display: flex;
  align-items: center;
  .form-group {
    font-weight: bold;
    color: #bfbfbf;
    select, input {
      width: 5em;
      color: #bfbfbf;
      border: none;
      border-bottom: 1px solid #bfbfbf;
    }
  }
  button {
    float: left;
    width: 100%;
    font-weight: normal;
    font-size: 14px;
    background: #42b983;
    border: 1px solid #42b983;
    padding: 5px 30px;
    color: white;
    transition: 0.1s ease-in-out;
  }
}
