<template>
    <div class='container'>
      <div class='order-create'>
        <div class='order-create__window'>
          <div v-if="shownBlocks.first_block">
            <div class='order-create__window-text row d-flex justify-content-between'>
              <div>
                <h2>Select or create sender<span class='dot'>.</span></h2>
              </div>
              <div>
                <button @click="showCreateSenderModal">New sender</button>
              </div>
            </div>
            <div class='order-create__window-scrollableList'>
              <div class='template' v-for='(sender, index) in sender_templates' :key="`sender-template-${index}`">
                <div class='template-content'>
                  <div class="d-flex justify-content-between align-items-start">
                    <div class="d-flex justify-content-starts align-items-center template-info">
                      <span class="template-icon"><PhUser :size="20"/></span><p>{{ sender.name }}</p>
                    </div>
                    <div>
                      <button class='close-btn'>x</button>
                    </div>
                  </div>
                  <div class="d-flex justify-content-start align-items-center template-info">
                    <span class="template-icon"><PhGlobeHemisphereEast :size="20"/></span><p>{{ sender.city.name }}, {{ sender.address }}</p>
                  </div>
                  <div class="d-flex justify-content-start align-items-center template-info">
                    <span class="template-icon"><PhDeviceMobile :size="20"/></span><p>{{ sender.phone_number }}</p>
                  </div>
                  <div>
                    <button @click="selectSender(sender.id)" class="select-btn" :id="sender.id">Select</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div v-if="!shownBlocks.first_block && payload.sender_id">
            <h3>Selected sender template with id {{ payload.sender_id }}</h3>
          </div>
        </div>
        <div class='order-create__window'>
          <div v-if="shownBlocks.second_block">
            <div class='order-create__window-text row d-flex justify-content-between'>
              <div>
                <h2>Select or create receiver<span class='dot'>.</span></h2>
              </div>
              <div>
                <button @click="showCreateReceiverModal">New receiver</button>
              </div>
            </div>
            <div class='order-create__window-scrollableList'>
              <div class='template' v-for='(receiver, index) in receiver_templates' :key="`receiver-template-${index}`">
                <div class='template-content'>
                  <div class="d-flex justify-content-between align-items-start">
                    <div class="d-flex justify-content-starts align-items-center template-info">
                      <span class="template-icon"><PhUser :size="20"/></span><p>{{ receiver.name }}</p>
                    </div>
                    <div>
                      <button class='close-btn'>x</button>
                    </div>
                  </div>
                  <div class="d-flex justify-content-start align-items-center template-info">
                    <span class="template-icon"><PhGlobeHemisphereEast :size="20"/></span><p>{{ receiver.city.name }}, {{ receiver.address }}</p>
                  </div>
                  <div class="d-flex justify-content-start align-items-center template-info">
                    <span class="template-icon"><PhDeviceMobile :size="20"/></span><p>{{ receiver.phone_number }}</p>
                  </div>
                  <div>
                    <button @click="selectReceiver(receiver.id)" class="select-btn" :id="receiver.id">Select</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div v-if="!shownBlocks.second_block && payload.receiver_id">
            <h3>Selected receiver template with id {{ payload.receiver_id }}</h3>
          </div>
        </div>
        <div class='order-create__window'>
          <div v-if="shownBlocks.third_block">
            <div class='order-create__window-text row d-flex justify-content-between'>
              <div>
                <h2>Fill order info<span class='dot'>.</span></h2>
              </div>
            </div>
            <div class='order-create__window-scrollableList d-flex justify-content-center'>
              <form @submit.prevent="storeOrder">
                <div class="form-row">
                  <div class="form-group col-4">
                    <label>Delivery type
                      <select v-model="$v.payload.delivery_type">
                        <option value="1" selected>Standard</option>
                        <option value="2">Express</option>
                      </select>
                    </label>

                  </div>
                  <div class="form-group col-4">
                    <label>Places
                      <input type="text" v-model="payload.places">
                    </label>
                  </div>
                  <div class="form-group col-4">
                    <label>Weight
                      <input type="text" v-model="payload.weight">
                    </label>
                  </div>
                  <div class="form-group col-12">
                    <button type="submit" class="select-btn">Save</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <SenderCreateComponent :cities="cities" />
      <ReceiverCreateComponent :cities="cities"/>
    </div>
</template>

<script>
import SenderCreateComponent from '@/components/SenderForm/create.vue'
import ReceiverCreateComponent from '@/components/ReceiverForm/create.vue'
import $http from '@/axios.settings.js'
import { PhUser, PhGlobeHemisphereEast, PhDeviceMobile } from 'phosphor-vue'
import { required } from 'vuelidate/lib/validators'

export default {
  name: 'create-orders',
  components: {
    SenderCreateComponent,
    ReceiverCreateComponent,
    PhUser,
    PhGlobeHemisphereEast,
    PhDeviceMobile
  },
  data () {
    return {
      sender_templates: {},
      receiver_templates: {},
      payload: {
        sender_id: 0,
        receiver_id: 0,
        delivery_type: 1,
        places: 0,
        weight: 0
      },
      shownBlocks: {
        first_block: true,
        second_block: false,
        third_block: false
      },
      cities: {},
      server_error: ''
    }
  },
  validations: {
    payload: {
      order: {
        delivery_type: required,
        places: required
      }
    }
  },
  methods: {
    showCreateSenderModal () {
      this.$modal.show('sender-create-modal')
    },
    showCreateReceiverModal () {
      this.$modal.show('receiver-create-modal')
    },
    async getSenders () {
      try {
        const response = await $http.get('/sender')
        this.sender_templates = response.data.data
      } catch (error) {
        console.log(error.response.data.msg)
      }
    },
    async getReceivers () {
      try {
        const response = await $http.get('/receiver')
        this.receiver_templates = response.data.data
      } catch (error) {
        console.log(error.response.data.msg)
      }
    },
    selectSender (id) {
      this.payload.sender_id = id
      if (this.payload.sender_id !== 0) {
        this.shownBlocks.first_block = false
        this.shownBlocks.second_block = true
      }
    },
    selectReceiver (id) {
      this.payload.receiver_id = id
      if (this.payload.receiver_id !== 0) {
        this.shownBlocks.second_block = false
        this.shownBlocks.third_block = true
      }
    },
    async storeOrder () {
      try {
        const response = await $http.post('/order', this.payload)
        if (response.status === 200) {
          this.$router.push('/')
          document.location.reload()
        }
      } catch (error) {
        console.log(error.response.data.msg)
      }
    },
    async getCities () {
      try {
        const response = await $http.get('/city')
        if (response) this.cities = response.data.data
      } catch (error) {
        console.log(error.response.data.msg)
      }
    }
  },
  mounted () {
    this.getSenders()
    this.getReceivers()
  },
  created () {
    this.getCities()
  }
}
</script>

<style src='./create.style.scss' lang='scss' />
