<template>
  <div class="container">
    <h1>Hello</h1>
    <h2 v-if="!$store.getters.isAuth">Sign in please</h2>
    <h2 v-if="$store.getters.isAuth">Welcome! Let's create new orders</h2>
  </div>
</template>

<script>
export default {
  name: 'home'
}
</script>

<style scoped>

</style>
