<template>
  <div id="app">
    <div id="navbar">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-md-4 col-lg-4" id="logo">
            <router-link to="/">
              <h3>Logistics<span>Cabinet</span></h3>
            </router-link>
          </div>
          <div class="col-md-6 col-lg-6">
            <ul id="navbar_links">
              <li v-if="$store.getters.isAuth">
                <router-link to="/">Orders</router-link>
              </li>
              <li v-if="!$store.getters.isAuth">
                <button @click="showLoginModal"><PhSignIn id="loginIcon" :size="22" color="#2c3e50"></PhSignIn></button>
              </li>
              <li v-if="$store.getters.isAuth">
                <button @click="logOut"><PhSignOut id="logoutIcon" :size="22" color="#2c3e50"></PhSignOut></button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <router-view/>
    <LoginModal />
  </div>
</template>

<script>
import LoginModal from '@/components/LoginForm/index.vue'
import $http from '@/axios.settings.js'
import { PhSignOut, PhSignIn } from 'phosphor-vue'

export default {
  components: {
    LoginModal,
    PhSignOut,
    PhSignIn
  },
  methods: {
    showLoginModal () {
      this.$modal.show('login-modal')
    },
    async logOut () {
      try {
        const response = await $http.post('/auth/logout')
        if (response.status === 200) {
          localStorage.removeItem('access_token')
          document.location.reload()
        }
      } catch (error) {
        this.server_error = error.response.data.msg
      }
    }
  },
  created () {
    this.$on('loginModal', () => {
      this.$modal.hide('login-modal')
    })
  }
}
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#navbar {
  padding: 30px;
  -webkit-box-shadow: 10px 0 15px #dadada;
  -moz-box-shadow: 10px 0 15px #dadada;
  box-shadow: 10px 0 15px #d0d0d0;
  margin-bottom: 50px;
  a {
    font-weight: bold;
    color: #2c3e50;
    &:hover {
      text-decoration: none;
      text-underline: none;
    }
    &.router-link-exact-active {
      color: #42b983;
      h3 {
        color: #2c3e50;
      }
    }
  }
  #logo {
    a {
      float: left;
      span {
        color: #42b983;
        font-weight: bold;
      }
    }
  }
  &_links {
    text-decoration: none;
    list-style-type: none;
    margin-top: 0.5rem;
    float: right;
    li {
      display: inline;
      margin: 0 15px;
      button {
        outline: none;
        background: none;
        color: #2c3e50;
        font-weight: bold;
        border: none
      }
    }
  }
}

.dot {
  color: #42b983;
}

p.validation-error {
  font-size: 14px;
  text-align: left;
  color: #ff5050;
}

#logoutIcon {
  font-weight: bold;
}
</style>
